* {
    font-family: sans-serif;

}

header {
    text-align: center;
    
}

#header_img {
    width: 45%;
    border-radius: 20px;
    display: block;
    margin: auto;
}

body {
    background-color: beige;
}

#bef_rem_wrapper {
    display: flex;
    gap: 20px;
}

/* Select the ul inside the item with an ID of footer */
#footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}