
/* Makes changes to everything on pg */
* {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* Moves title to center */
header {
    text-align: center;
    
}

/* Image at top of pg */
#header_img {
    width: 45%;
    border-radius: 20px;
    display: block;
    margin: auto;
}

/* Layout of main page body */
body {
    background-color: beige;
}

/* Pg 1 sections */
/* Section to change how 1st sec is displayed */
#before_sec {
    width: 50%;
    background-color: rgba(173, 216, 230, 0.623);
    border: 3px solid black; 
    border-radius: 20px;
    padding: 10px; 
}

/* Section to change how 2nd sec is displayed */
#remember_sec {
    width: 50%;
    background-color: rgba(173, 216, 230, 0.623);
    border: 3px solid black; 
    border-radius: 20px;
    padding: 10px; 
}

/* Flexbox wrapper */
#bef_rem_wrapper {
    display: flex;
    gap: 20px;
}

/* Pg 2 sections */
/* Section to change how 1st sec is displayed */
#bass_target_sec {

    width: 50%;
    background-color: rgba(173, 216, 230, 0.623);
    border: 3px solid black; 
    border-radius: 20px;
    padding: 10px; 
    margin: auto;
}

/* Section to change how 2nd sec is displayed */
#bass_get_started_sec {
    width: 75%;
    background-color: rgba(173, 216, 230, 0.623);
    border: 3px solid black; 
    border-radius: 20px;
    padding: 10px;
    margin: auto; 
}

/* Displays page buttons */
.button {
    background-color: #0c6d39;
    border-radius: 8px;
    border: 3px solid black;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    margin: 10px;
}

/* How the links on page are displayed */
.page_links {
    color: white;
}

/* Select the ul inside the item with an ID of footer */
#footer ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

/* Aligns text with the 'other_page' id */
#other_pages {
    text-align: center;
}